a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

body{
    /*background-color: #fafafa;*/
    background-color: #eeeeee;
    padding-top: 55px;
}

.main-container{
    margin: 0 auto;
    overflow: hidden;
}

.lg-container{
    padding: 10px 8px;
}

.sm-container{
    padding: 10px 8px;
}

.border{
    border-radius: 10px;
    overflow: hidden;
}


html,body{
     height:100%
}

.con{
     min-height:100%;
     position:relative;
     padding-bottom:80px;
}

footer{
    width:100%;
    height:50px;
    position:absolute;
    left:0;
    bottom:0;
}

footer .navbar{
    margin: 0 auto;
    padding: 12px 0;
    border: 0;
    border-radius: 0;
}

.navbar-nav{
    text-align: center;
}

footer nav p{
    text-align: center;
    color: #666666;
}

#internet-content-provider{
color: #666666;
}

.nb {
    background-color: #FFFFFF;
}

.nav li a {
    color: #888888;
}

.icon-bar-border {
    border: 1px solid #eea236
}

.navbar-toggle-border {
    border: 1px solid #f0ad4e;
}

#search {
    cursor: pointer;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #f0ad4e;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
