

#avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #666666;
}

.body-container {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 20px;
}

.table-style {
    margin: 0 5px 5px 0 ;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.avatar-username {
    background-color:#eee;padding: 15px
}

.username {
    font-size: 18px;
}