.lg-container {
    border: #eeeeee 1px solid;
    border-radius: 6px;
    padding: 40px 30px 20px 30px;
    background-color: #ffffff;
    margin-top: 10px;
}

.header {
    border-bottom: #eeeeee 1px solid;
    padding-bottom: 10px;
}

.header p {
    margin-top: 15px;
    color: #888;
}

.header p span {
    margin-right: 12px;
}

.body {
    margin-top: 30px;
}

.body img {
    max-width: 100%;
}

.comment {
    border: #e8e8e8 solid 1px;
    margin-top: 15px;
    padding: 20px;
    border-radius: 5px;
}

.comment h4 {
    color: #8c8c8c;
    margin-bottom: 25px;
    border-left: solid #959595;
    border-left-width: medium;
    padding-left: 8px;
}

.comment-item {
    overflow: hidden;
    margin: 8px;
    border-bottom: #e6e6e6 solid 1px;
    padding-bottom: 5px;
}

.comment-item .avatar {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    margin: 5px 0 10px 0;
}

.comment-item-info {
    padding: 10px 80px;
}

.comment-item-info img {
    max-width: 200px;
}


.username {
    margin: 0 0 10px 0;
    font-size: 15px;
    color: #8c8c8c;
}

.publish {
    padding-top: 20px;
}

.publish button {
    margin-top: 20px;
    float: right;
}

.sm-container {
    border-radius: 10px;
    text-align: center;
}

.sm-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 30px;
}

.info {
    margin: 8px 0;
    width: 100%;
    font-size: 18px;
}

.info a {
    margin: 10px 10px 18px 10px;
}

.no-comment {
    /*margin-top: 15px;*/
    height: 18px;
    background: rgb(238, 238, 238);
    text-align: center;
    opacity: .5;
}

#publish-comment-btn {
    margin-top: 20px;
    float: right;
    cursor: pointer;
}

#recent-pub {
    background-color: #f0ad4e;
    border-color: #eea236;
}

.recommend {
    margin-top: 25px;
}

.recommend li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.recommend a:hover {
    color: #f0ad4e;
}

#profile-div {
    background-color: #FFFFFF;
    border: 1px #e8e8e8 solid;
    border-radius: 6px;
}

.header-info span {
    margin-right: 5px;
}

.option {
    width: 34px;
    cursor: pointer;
    background-color: rgba(240, 191, 0, 0.41);
    border-radius: 50%;
    margin-left: 7px
}

.del-edit {
    width: 34px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 7px
}

.like p {
    margin-bottom: 15px;
}

.header-info-span {
    margin-right: 2px
}

.is_liked {
    background-color: rgba(185, 185, 185, 0.45)
}

.right-container {
    background-color: white;
    border: 1px #e8e8e8 solid;
    text-align: left;
}

.right-container h4 {
    color: #f0ad4e;
    border-bottom: 2px solid #f0ad4e;
    padding: 8px 0 5px 0
}

.item-list-head {
    padding: 6px 0 10px 14px
}

.list-group-item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hover-style a:hover {
    color: #eea236;
}

#profile-btn {
    color: #f0ad4e;
    border: 1px solid #eea236;
}

.child-comment {
    margin-left: 10px;
    background-color: #FAFAFA;
    border-radius: 6px;
    padding: 10px 20px;
    border-bottom: #DDDDDD 1px solid;
}

.child-comment > .username {
    color: #6f6c6c;
}

/*.child-comment > .username > a {*/
/*    color: #555;*/
/*}*/

.comArea {
    padding: 5px;
    margin-left: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    border-bottom: #DDDDDD 1px solid;
}

.com-like-btn {
    cursor: pointer;
}

.loadMoreCom {
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    float: right;
    padding: 5px;
    border-radius: 3px;
}

.remove-more-comm-btn {
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    float: left;
    padding: 5px;
    border-radius: 3px;
}