{% extends 'cms/base.html' %}
{% from 'common/_macros.html' import static %}
{% block title -%}
    修改密码
{%- endblock %}

{% block page_title -%}
    修改密码
{%- endblock %}

{% block head -%}
    <script src="{{ static('cms/js/resetpwd.js') }}"></script>
{%- endblock %}

{% block main_content -%}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-container">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">旧密码</div>
                    <input type="password" name="old_pwd" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">新密码</div>
                    <input type="password" name="new_pwd" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">确认密码</div>
                    <input type="password" name="new_pwd_repeat" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary" id="btn">确认修改</button>
        </div>
    </form>
{%- endblock %}